[Desktop Entry]
Name=SolydXK System Settings
Name[ca]=SolydXK System Settings
Name[de]=SolydXK Systemeinstellungen
Name[fr]=SolydXK System Settings
Name[it]=Impostazioni di sistema di SolydXK
Name[lt]=SolydXK sistemos nustatymai
Name[nl]=SolydXK Systeeminstellingen
Name[pt]=Configurações do Sistema SolydXK
Name[pt_PT]=Configurações de Sistema SolydXK
Comment=Change system settings for SolydXK
Comment[ca]=Canvia els Paràmetres de Sistema de SolydXK
Comment[de]=Ändere Systemeinstellungen für SolydXK
Comment[fr]=Changer les paramètres système de SolydXK
Comment[it]=Cambia le impostazioni di sistema per SolydXK
Comment[lt]=Keisti SolydXK sistemos nustatymus
Comment[nl]=Verander systeem instellingen voor SolydXK
Comment[pt]=Alterar as configurações do sistema para SolydXK
Comment[pt_PT]=Alterar as configurações do sistema para SolydXK
Comment[sr]=    
Exec=solydxk-system
Icon=solydxk
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=false
