[Desktop Entry]
Name=SolydXK System Settings
Name[de]=SolydXK Systemeinstellungen
Name[lt]=SolydXK sistemos nustatymai
Name[nl]=SolydXK Systeeminstellingen
Comment=Change system settings for SolydXK
Comment[ca]=Canvia els parmetres de Sistema de SolydXK
Comment[de]=Ändere Systemeinstellungen für SolydXK
Comment[fr]=Changer les paramtres systme de SolydXK
Comment[it]=Cambia le impostazioni di sistema per SolydXK
Comment[lt]=Keisti SolydXK sistemos nustatymus
Comment[nl]=Verander systeem instellingen voor SolydXK
Comment[sr]=    
Exec=solydxk-system
Icon=solydxk
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
