Source: solydxk-system
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python3 (>= 3.2)
  , intltool
  , transifex-client
  , translate-toolkit
  , dh-systemd
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6
Vcs-Git: git@github.com:SolydXK/solydxk-system.git
Vcs-Browser: https://github.com/SolydXK/solydxk-system

Package: solydxk-system
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
  , python3
  , python3-gi
  , python3-apt
  , gir1.2-gtk-3.0
  , aptitude
  , util-linux
  , parted
  , curl
  , dpkg
  , procps
  , sysvinit-utils
  , console-data
  , python3-dateutil
  , libc-bin
  , rsync
  , cryptsetup
  , udisks2
  , haveged
  , ntfs-3g
  , e2fsprogs
  , btrfs-progs
  , exfat-utils
  , dosfstools
Conflicts: solydkbo-grub2-theme,
  solydkbe-grub2-theme,
  solydxbe-grub2-theme,
  solydk-grub2-theme,
  xksudo
Replaces: solydkbo-grub2-theme,
  solydkbe-grub2-theme,
  solydxbe-grub2-theme,
  solydk-grub2-theme,
  xksudo
Description: SolidXK System Base Package
 Used by the desktop and other SolydXK tools to gather information and process common system tasks.
