[Unit]
Description=Configure SolydXK
After=syslog.target network.target
Before=apache2.service mysql.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/solydxk/system/adjust.py

[Install]
WantedBy=multi-user.target
 
