Package: solydxk-system
Version: 2.4.5
Architecture: all
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Installed-Size: 268
Depends: python3, aptitude, util-linux, parted
Recommends: solydx-system-adjustments | solydk-system-adjustments
Conflicts: solydk-grub2-theme, solydkbe-grub2-theme, solydkbo-grub2-theme, solydxbe-grub2-theme
Replaces: solydk-grub2-theme, solydkbe-grub2-theme, solydkbo-grub2-theme, solydxbe-grub2-theme
Section: admin
Priority: optional
Description: SolidXK System Base Package
 Used by the desktop and other SolydXK tools to gather information and process common system tasks.
